.footer-div > .footer-label {
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -ms-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;

    margin-right: 0.2em;
    opacity: 0.6;
    cursor: default;
}

.footer-div:hover > .footer-label {
    opacity: 1;
}

.footer-div .app-link {
    text-decoration: none;

    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -ms-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;

    -webkit-transition: transform 250ms ease-in-out;
    -moz-transition: transform 250ms ease-in-out;
    -ms-transition: transform 250ms ease-in-out;
    -o-transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;

    display: inline-block;

    opacity: 0.6;
}

.footer-div .app-link>img {
    width: 42px;
    z-index: -999;
    margin-right: 0.2em;
}


.footer-div .app-link:hover {
    /* filter: alpha(opacity=50); */
    transform: scale(1.2);
    opacity: 1;
}