
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 72px;
}

nav {
    background-color: #f5f5f5;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    line-height: 72px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body>.container {
    padding: 60px 15px 0;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

input {
    /* background-color:transparent!important; */
    border: 0 !important;
    /* border-bottom:1px solid grey!important; */
    outline: 0px !important;
    border-bottom: 1px solid #bababa !important;

    -webkit-transition: border 400ms ease-in-out;
    -moz-transition: border 400ms ease-in-out;
    -ms-transition: border 400ms ease-in-out;
    -o-transition: border 400ms ease-in-out;
    transition: border 400ms ease-in-out;
}

input:hover,
input:active,
input:focus {
    outline: 0px !important;
    box-shadow: none !important;
    -webkit-appearance: none;
}

input:active,
input:focus {
    border-bottom: 1px solid #1DB954 !important;
}