<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Chat WebSocket</title>
    <script type="text/javascript" th:src="@{/js/stomp.js}"></script>
    <script type="text/javascript">
        var stompClient = null;
        var roomId = null;
        var userUuid = null;
        var pubUrl = null;
        var subUrlMsg = null;
        var subUrlSong = null;
        var subUrlInvite = null;

        function setConnected(connected) {
            document.getElementById('connect').disabled = connected;
            document.getElementById('disconnect').disabled = !connected;
            document.getElementById('conversationDiv').style.visibility = connected ? 'visible' : 'hidden';
            document.getElementById('songDiv').style.visibility = connected ? 'visible' : 'hidden';
            document.getElementById('messageResponse').innerHTML = '';
            document.getElementById('songListResponse').innerHTML = '';
        }

        function connectRoom() {
            var roomId = document.getElementById("roomId").value;
            pubUrl = "/song/" + roomId;
            subUrlMsg = "/room/" + roomId + "/messages";
            subUrlSong = "/room/" + roomId + "/songs";

            var socket = new WebSocket('ws://' + document.location.host + pubUrl);
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                setConnected(true);
                console.log('Connected: ' + frame);
                stompClient.subscribe(subUrlSong, function (songListOutput) {
                    showSongListOutput(JSON.parse(songListOutput.body));
                }),
                    stompClient.subscribe(subUrlMsg, function (messageOutput) {
                        showMessageOutput(JSON.parse(messageOutput.body));
                    })
            });
        }

        function connectUser() {
            userUuid = document.getElementById("userUuid").value;
            pubUrl = "/invite/" + userUuid;
            subUrlInvite = "/user/" + userUuid + "/invites";

            var socket = new WebSocket('ws://' + document.location.host + pubUrl);
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                setConnected(true);
                console.log('Connected: ' + frame);
                stompClient.subscribe(subUrlInvite, function (inviteOutput) {
                    showInviteOutput(JSON.parse(inviteOutput.body));
                })
            })
        }

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        function sendMessage() {
            var roomId = document.getElementById("roomId").value;
            pubUrl = "/message/" + roomId;

            var userUuid = document.getElementById("userUuid").value;
            var userName = document.getElementById('userName').value;
            var message = document.getElementById('message').value;

            var now = new Date();
            var timestamp = now.toISOString();

            stompClient.send(pubUrl, {}, JSON.stringify({
                'userUuid': userUuid,
                'userName': userName,
                'roomId': roomId,
                'message': message,
                'timestamp': timestamp
            }));
        }

        function updateSongList() {
            var roomId = document.getElementById("roomId").value;
            pubUrl = "/song/" + roomId;

            var songList = document.getElementById("songListJson").value;
            stompClient.send(pubUrl, {}, songList);
        }

        function showMessageOutput(messageOutput) {
            var messageResponse = document.getElementById('messageResponse');
            var p = document.createElement('p');
            p.style.wordWrap = 'break-word';
            p.appendChild(document.createTextNode(messageOutput.userName + ": " + messageOutput.message + " (" + messageOutput.timestamp + ")"));
            messageResponse.appendChild(p);
        }

        function showSongListOutput(songListOutput) {
            var songListResponse = document.getElementById('songListResponse');
            var p = document.createElement('p');
            p.style.wordWrap = 'break-word';

            var str = JSON.stringify(songListOutput, null, 2);
            p.appendChild(document.createTextNode(str));
            songListResponse.appendChild(p);
        }

        function showInviteOutput(inviteOutput) {
            var messageResponse = document.getElementById('inviteResponse');
            var p = document.createElement('p');
            p.style.wordWrap = 'break-word';

            var str = JSON.stringify(inviteOutput, null, 2);
            p.appendChild(document.createTextNode(str));
            messageResponse.appendChild(p);
        }

        document.addEventListener('DOMContentLoaded', function () {
            // connectUser();
            connectRoom();
        }, false);

    </script>
</head>
<!--<body onload="disconnect()">-->
<div>
    <div>
        roomId: <input type="text" id="roomId" th:value="${roomId}"/><br/>
        userUuid: <input disabled="disabled" type="text" id="userUuid" th:value="${userUuid}"/><br/>
        userName: <input disabled="disabled" type="text" id="userName"
                         th:value="${#authentication.getPrincipal().getUsername()}"/><br/>
        <button id="connect" onclick="connectRoom();">Connect</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
    </div>
    <br/>
    <div id="conversationDiv">
        <input type="text" id="message" placeholder="Write a message..."/>
        <button id="sendMessage" onclick="sendMessage();">Send Message</button>
        <p id="messageResponse"></p>
    </div>

    <br/>

    <div id="songDiv">
        <textarea rows="20" cols="50" id="songListJson" placeholder="Write song list as json..."/></textarea>
        <br/>
        <button id="updateSongList" onclick="updateSongList();">Update Song List</button>
        <pre>
            <p id="songListResponse"></p>
        </pre>
    </div>

    <br/>
    <br/>
    <br/>

    <pre id="inviteDiv">
        <p id="inviteResponse"></p>
    </pre>
</div>

</body>
</html>