<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Chat WebSocket</title>
    <script type="text/javascript" th:src="@{/js/stomp.js}"></script>
    <script type="text/javascript">
        var stompClient = null;
        var roomUuid = null;
        var userUuid = null;
        var pubUrl = null;
        var subUrl = null;

        function setConnected(connected) {
            document.getElementById('connect').disabled = connected;
            document.getElementById('disconnect').disabled = !connected;
            document.getElementById('conversationDiv').style.visibility = connected ? 'visible' : 'hidden';
            document.getElementById('response').innerHTML = '';
        }

        function connect() {
            var roomUuid = document.getElementById("roomUuid").value;
            pubUrl = "/chat/" + roomUuid;
            subUrl = "/room/" + roomUuid + "/messages";

            var socket = new WebSocket('ws://' + document.location.host + pubUrl);
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                setConnected(true);
                console.log('Connected: ' + frame);
                stompClient.subscribe(subUrl, function (messageOutput) {
                    showMessageOutput(JSON.parse(messageOutput.body));
                });
            });
        }

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }

        function sendMessage() {
            var userUuid = document.getElementById("userUuid").value;
            var userName = document.getElementById('userName').value;
            var roomUuid = document.getElementById('roomUuid').value;
            var message = document.getElementById('message').value;

            stompClient.send(pubUrl, {}, JSON.stringify({
                'userUuid': userUuid,
                'userName': userName,
                'roomUuid': roomUuid,
                'message': message,
                'timestamp': Date.now()
            }));
        }

        function showMessageOutput(messageOutput) {
            var response = document.getElementById('response');
            var p = document.createElement('p');
            p.style.wordWrap = 'break-word';
            p.appendChild(document.createTextNode(messageOutput.userName + ": " + messageOutput.message + " (" + messageOutput.timestamp + ")"));
            response.appendChild(p);
        }

        document.addEventListener('DOMContentLoaded', function () {
            connect();
        }, false);

    </script>
</head>
<!--<body onload="disconnect()">-->
<div>
    <div>
        roomUuid: <input type="text" id="roomUuid" th:value="${roomUuid}"/><br/>
        userUuid: <input disabled="disabled" type="text" id="userUuid" th:value="${userUuid}"/><br/>
        userName: <input disabled="disabled" type="text" id="userName" th:value="${#authentication.getPrincipal().getUsername()}"/><br/>
        <button id="connect" onclick="connect();">Connect</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
    </div>
    <br/>
    <div id="conversationDiv">
        <input type="text" id="message" placeholder="Write a message..."/>
        <button id="sendMessage" onclick="sendMessage();">Send</button>
        <p id="response"></p>
    </div>
</div>

</body>
</html>