<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}"
      th:with="title='Another',current_page='courses'">

<div layout:fragment="content">


    <a sec:authorize="hasRole('MANAGER')" class="btn btn-primary" th:href="@{/course}">
        Create Course
    </a>


    <ul class="list-group list-group-flush">
        <li class="list-group-item" th:each="course : ${courseList}">
            <!-- Card -->
            <div class="card">

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title">
                        <a>
                            <span th:text="${course.name}"></span>
                        </a>
                    </h4>
                    <!-- Text -->
                    <p class="card-text">
                        <span th:text="${course.description}"></span>
                    </p>
                    <!-- Button -->

                    <a sec:authorize="hasRole('MANAGER')" th:href="@{/course/}+${course.uuid}" class="btn btn-primary">
                        Edit Course
                    </a>
                    <a sec:authorize="hasRole('MANAGER')" th:href="@{/course/}+${course.uuid}+'/enrollments'"
                       class="btn btn-primary">
                        Enrollments
                    </a>
                    <a th:href="@{/course/}+${course.uuid}+'/lecture/all'"
                       class="btn btn-primary">
                        Lectures
                    </a>

                    <a th:href="@{/course/}+${course.uuid}+'/attendances'"
                       class="btn btn-primary">
                        Attendance Logs
                    </a>


                </div>

            </div>
            <!-- Card -->
        </li>
    </ul>
</div>

</html>