<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
    layout:decorate="~{layouts/layout}" th:with="title='Another',current_page='home'">

<div layout:fragment="content">

    <div class="row">
        <div class="offset-md-2 col-md-8 shadow rounded p-3 border border-light mt-4">
            <h5>Edit Profile</h5>
            <hr />
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control form-control-sm" id="exampleInputEmail1"
                        aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">First Name</label>
                            <input type="text" class="form-control form-control-sm" id="exampleInputPassword1"
                                placeholder="First Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Last Name</label>
                            <input type="text" class="form-control form-control-sm" id="exampleInputPassword1"
                                placeholder="Last Name">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-sm offset-md-10 col-md-2">Save</button>
            </form>
        </div>

    </div>

    <div class="row">
        <div class="offset-md-2 col-md-8 shadow rounded border border-light p-3 mt-5">
            <h5>Update Password</h5>
            <hr />
            <form>
                <div class="form-group">
                    <input type="text" class="form-control form-control-sm" id="exampleInputPassword1"
                        placeholder="Old Password">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-sm" id="exampleInputPassword1"
                        placeholder="New Password">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-sm" id="exampleInputPassword1"
                        placeholder="Confirm Password">
                </div>
                <button type="submit" class="btn btn-success btn-sm offset-md-10 col-md-2">Save</button>
            </form>
        </div>
    </div>

</div>

</html>